/*Navbar*/

.navbar-inverse {
  /* background-color: #222; */
  background-color: transparent;
  background-size: cover;
  background-image: url('img/film_crew_landing_page_bw.jpg');
  background-repeat: repeat-x;
}

.navbar-right {
  font-family: "PT sans";
  font-weight: 400;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
padding: 13px;
background-color: transparent;
border: 1px solid #fff;
}

.collapse.navbar-collapse.navHeaderCollapse {
  margin-top:30px
}

/*trying to reduce area around nav list for active item*/
.navbar-inverse .navbar-nav > .active > li a {
padding: 5px;
}


.navbar {
  position: relative;
  min-height: 400px;
  }


.banner-thumbnail-homepage {
    top: 0px;
    left: -23px;
    width: 985px;
    height: 654px;
    position: relative;
}


/*<!-- trying out downward arrow -->*/
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  border-top: 20px solid #fff;
}


.caret:before {
  content: '';
  display: block;
  /*position: absolute;*/
  top: 25%;
  left: 12px;
  border-top: 12px solid #999;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.caret:after {
  content: '';
  position: absolute;
  top: 25%;
  left: 13px;
  border-top: 11px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}

.caret:hover:before {
  border-top-color: #222;
}


/*end of code for scrolldown caret in masthead/banner*/

#company_name_masthead {
    display: block;
    height: 200px;
    margin-bottom: -10px;
    font-family: "montserrat";
    font-size: 30px;
    line-height: 9em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
}

.credits_contact {
  margin-top: -30px;
  margin-bottom: 75px;

}

.credits_contact p a {
    border: 1px solid #fff;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: .5em .75em;
    margin: 10px;
    font-family: "montserrat";
    color: #fff;
  }


.social-icon {
  width: 32px;
  height: 32px;
  /*padding: .5em .75em;*/
  margin: 10px;
  margin-bottom: 40px;
}

h2.above-title {
  position: relative;
  bottom: -90px; 
}

.credits_contact.download_resume {
  margin-top: -10px;
}



/*TRANSITION INFO FOR "BUTTONS"*/
/*transition: background-color 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    transition-property: background-color, color;
    transition-duration: 0.1s, 0.1s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;*/


   /* HOMEPAGE SCROLLDOWN CSS    display: block;
    margin-left: auto;
    margin-right: auto
    .homepage-scroll-down {
    bottom: 20px;
    color: #FFF;
    cursor: pointer;
    height: 48px;
    left: 50%;
    margin-left: -24px;
    position: absolute;
    text-align: center;
    width: 48px;
    z-index: 100;
    animation: 1.75s ease-in-out 0s normal none 1 running feature-text-anim;
    transition: all 0.5s ease 0s;
}*/

.navbar-inner.nav-index {
  background-image: url('img/film_crew_landing_page_bw.jpg');
  background-repeat: repeat-x;
  background-position: 0% 58%;
}

.navbar-inner.nav-project {
  background-image: url('img/pigeons_cv_page.jpg');
  background-repeat: repeat-x;
}

.navbar-inner.nav-resume {
  background-image: url('img/resume_page.jpg');
  background-repeat: repeat-x;
  background-position: 0% 28%;
}

.navbar-inner.nav-contact {
  background-image: url('img/toronto_at_night_BW.jpg');
  background-repeat: repeat-x;
  background-position: 0% 56%;
}


/*THIS IS THE BIO AND BACKGROUND AREA */

.jumbotron {
  background-color: transparent;

}

.jumbotron h2 {
  margin-bottom: 30px;
}

  h2 {
    font-family: "crimson";
    text-align: center;
    color: rgba(26, 26, 26, 0.9);
    font-size: 34px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
}

.container .jumbotron .text-align-center {
  font-family: "PT sans";
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  letter-spacing: 0px;
  font-weight: 400;
/*  font-style: normal;*/
  color: rgba(26, 26, 26, 0.6);
  margin-bottom: 30px;
}

hr {
  margin-top: -20px;
  margin-bottom: 50px;
}

.space_hack {
  border-color: #fff;
  margin-bottom: 75px;
}

.download_cv .links .cv_download {
  border: 2px solid #272727;  
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 13px 26px;
  margin: 10px;
  font-family: "montserrat";
  color: #000;
}


/*END OF BIO AND BACKGROUND AREA */

.above-title {
  display: block;
  font-family: "crimson";
  font-size: 25px;
  line-height:1em;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: italic;
  color: #FFF;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding:0px;
}

/*Footer*/

a{
  color:#00FFFF;
}

.bottom-footer{
  margin-top:10px;
  padding-top:10px;
}

.pre-footer {
  background-color: #696969;
  min-height: 40px;
}

.pre-footer-text {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 150%;
  position: relative;
  bottom: -8px;
}


.site-footer{
  background-color: #000000;
  color:#fff;
  margin-top: 30px;
  text-align: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.copyright {
  font-family: "PT sans";
  color: #696969;
}


/*contact page*/

/*.container-fluid {
  margin-top: 100px;
}*/

.shatner {
/*  float: right;*/
margin-left: 125px;
}

#google_map {

}


h2.contact_us {
    font-family: "montserrat";
    font-size: 22px;
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    margin-left: 125px;
}

p.contact_info {
    margin-left: 125px;
    font-family: "PT sans";
    font-size: 18px;
    line-height: 2em;
    font-weight: 400;
    font-style: normal;
}


#google_map {
  float: right;
}




